<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoggioFace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='PoggioFace.css') }}">
</head>
<body>
    <div class="video-container">
        <video id="videoElement" autoplay playsinline></video>
        <canvas id="canvas"></canvas>
    </div>

    <script src="{{ url_for('static', filename='PoggioFace.js') }}"></script>
</body>
</html>